

.posts {
    width: 100%;
    margin: auto;
  }
  
  .post {
    float: left;
    border: 1px solid grey;
    color: white;
    background-color: rgb(82, 146, 248);
    padding: 25px;
    margin: 25px;
    text-align: center;
  }
  
  .postDetail {
      border: 2px solid cornflowerblue;
      padding: 15px;
      display: inline-block;
      margin: 15px;
  }
  
  .title {
      text-decoration: underline;
  }

